body {
    font-family: "Trubechet MS", Helvetica, sans-sarif;
    background: #4a4b4e;
}


#container {
    width: 400px;
    height: 300px;
    background-color: rgba(255,255,255,0.3) ;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 120px;
    text-align: center; /* Centraliza o texto e no caso a imagem também */
}

#container img{
    height: 120px;
    margin-bottom: 30px;
    margin-top: -60px;
}

input {
    border-radius: 15px;
    height: 40px;
    width: 80%;
    font-size: 18px;
    margin-bottom: 10px;
    background-color: #FFF;
    padding-left: 40px; /* Espaçamento para colocar as imagens ao lado do E-mail e da Senha */
    border: none;
    background-repeat: no-repeat; /* Atributo para que as imagens do input não repitam, é melhor usar direto em um input pai para não precisar repetir o no-repeat duas vezes */
    background-position: 10px; /* Posição para as imagens do input */
}

input.email {
    background-image: url(../img/icone-usuario.png);
    font-size: 13px;
}

input.senha {
    background-image: url(../img/icone-cadeado.png);
    font-size: 13px;
}

input.submit {
    background: #4b7554;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    width: 90%;
    border-radius: 15px;
}

input.submit:hover {
    background: #386742;
}